*.vsidx
*.wsuo
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/MazeBot/.vs/MazeBot/v17/ipch/AutoPCH
/MazeBot/.vs/MazeBot/v17
/MazeBot/.vs
/MazeBot/dependencies/SFML
/MazeBot/MazeBot/x64
*.vcxproj
*.filters
*.user
/MazeBot/x64
*.sln
/.vs/Game_Artificial_Intelligence/v17
