# File type
*.vsidx
*.wsuo
*.vcxproj
*.filters
*.user
*.sln

# VS Stuff
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/Game_Artificial_Intelligence/v17

# Game Files
/MazeBot/.vs/MazeBot/v17/ipch/AutoPCH
/MazeBot/.vs/MazeBot/v17
/MazeBot/.vs
/MazeBot/MazeBot/x64
/MazeBot/dependencies/SFML

/MazeBot/x64/Debug
*.pdb
/MazeBot/x64/Release/MazeBot.exe
